/*--- Header ---*/
#top-bar, .navbar, footer,
#shop-items .btn{
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
#top-bar, footer{
    background-color:#FAC1BA;
}
.navbar {
    border-bottom: 1px solid #f78da7;
    font-size: large;
    letter-spacing: 0.1em;
}
.navbar a,
.navbar a:active{
    color:#3F2A2D;
}
.navbar a:hover{
    background-color: #EFA8AC;
    color:white;
}
body{
    color: #3F2A2D;
}


/*  Shop items - cards */
#shop-items .btn,
#myCarousel .btn{
    background-color: #3F2A2D;
    border: none;
    border-radius: 0;
    margin:0;
}
#shop-items .btn{
    width: 100%;
}
#shop-items 

/*--------------------
  Assignment - change navbar background color at three breakpoints */
@media (max-width: 1000px) {  
    .navbar-nav{
        background-color:#FAC1BA;
    }
}
@media (max-width: 800px) {  
    .navbar-nav{
        background-color:aqua;
    }
}
@media (max-width: 400px) {  
    .navbar-nav{
        background-color: #F1EF87;
    }
}


/* Assignment - change card layout at 400px */
@media (min-width: 401px){
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.33333333%!important;
    }
} 


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 22rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 22rem;
  }